<!DOCTYPE html>
<!--Comentariu-->
<html lang="ro">
    <head>
        <%- include("../fragmente/head.ejs") %>
        <title>Nixxie DrugStore</title>
        <meta name="keywords" content="drogherie, produse, cosmetice,
        pastile,"><!--cuvintele cheie ale paginii; majoritatea motoarelor de cautare ignorakeywords -->
        <meta name="description" content="Drogheria Nixxie"><!--
        descrierea paginii, adesea apare sub link cand sunt afisate rezultatele cautarii -->
    </head>

    <body>
        <%- include("../fragmente/header.ejs")  %>
     <!--Zona de main este impartita in zona de gridul paginii-->
        <main>
            <div id="grid-pagina">
                
                <section id="zona1"> <!--In zona 1 se afla bannerul/ imaginea de greeting a siteului-->
                    <img src="Resurse/imagini/bannerbun.png" title="Banner" alt="Banner" style="width: 100%; border:none;">
                    <br>
                    <%- include ("../fragmente/formular-login.ejs") %>
                    
                </section>
                <br>
                <section id="zona2"> <!--In zona 2 se afla tabelul-->
                    <br>
                    <br>
                    <div id="container_tabel">
                    <table class="tabel">
                        <caption>Produsele lunii martie</caption>
                        <thead>
                            <tr class="rand">
                                <td class="impar">Produsul lunii</td>
                                <td class="par">Pret Produs</td>
                                <td class="impar">Stoc</td>
                                <td class="par">Numar stelute</td>
                            
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="rand">
                                <td class="impar">Produs 1</td>
                                <td class="par">35 ron</td>
                                <td class="impar">3 bucati</td>
                                <td class="par">5</td>
                                
                            </tr>
                            <tr class="rand">
                                <td class="impar">Produs 2</td>
                                <td class="par">27 ron</td>
                                <td class="impar">5 bucati</td>
                                <td class="par">4.6</td>
                                
                            </tr>
                            <tr class="rand">
                                <td class="impar">Produs 3</td>
                                <td class="par">18 ron</td>
                                <td class="impar">7 bucati</td>
                                <td class="par">3.2</td>
                            </tr>
                            <tr class="rand">
                                <td class="impar">Produs 4</td>
                                <td class="par">27 ron</td>
                                <td class="impar">2 bucati</td>
                                <td class="par">4.3</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <td class="rand" colspan="4">Nixxie Drugstore   
                            </td>
                        </tfoot>
                    </table>
                </div>
                </section>
    

                <section id="zona3"> <!--In zona 3 se afla Calendarul //momentan este un placeholder--> 
                    <h2>CALENDAR</h2><i id="icons" class="fa-regular fa-calendar fa-bounce"></i>
                    
                    <p>Ip: <%- locals.ip %> </p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Repudiandae asperiores reiciendis quae autem, saepe illum magnam in facere 
                    possimus eos dolor ut ad tempore corrupti enim recusandae, praesentium officia? Amet?</p>
                </section>

                <section id ="zona4"> <!--In zona 4 sunt afisate anunturi-->
                    <h2>Anunturi <i id="icons" class="fa-solid fa-pills fa-shake"></i></h2>
                    
                    <p><time datetime="2023-01-15">15 Ianuarie 2024</time> BLABLALDNIUDENFOIEUWRFOIU </p>
                    <p><time datetime="2023-01-18">18 Ianuarie 2024</time> BLABLALDNIUDENFOIEUWRFOIU </p>
                    <p><time datetime="2023-02-03">3 Februarie 2024</time> BLABLALDNIUDENFOIEUWRFOIU </p>
                    <p><time datetime="2023-02-12">12 Februarie 2024</time> BLABLALDNIUDENFOIEUWRFOIU </p>
                    <p><time datetime="2023-02-28">28 Februarie 2024</time> BLABLALDNIUDENFOIEUWRFOIU </p>
                    <p><time datetime="2023-03-01">1 Martie 2024</time> BLABLALDNIUDENFOIEUWRFOIU </p>
                      
                </section>

                <section id="zona5"> <!--In zona 5 este un placeholder pentru sectiunea de useri-->
                    <h2> Text</h2>
                    
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse impedit excepturi, labore fugit doloremque mollitia assumenda
                     veritatis ad? Maiores exercitationem, quaerat eaque harum doloribus iusto nihil architecto voluptatem. Voluptates, ipsa!</p>
                </section>

                <section id="zona6"> <!--In zona 6 este un placeholder pentru sectiunea de date despre useri si statistici-->
                    <h2>Text</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit quibusdam corporis id dicta a eius in quas quaerat omnis quasi, 
                    numquam unde repudiandae doloremque dolorum quo at earum est tempore?</p>
                </section>

                <section id="zona7"> <!--In zona 7 este un placeholder pentru sectiunea de date despre site si server-->
                    <h2>Text</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut laboriosam iusto adipisci repellendus blanditiis maiores dolore placeat,
                     reiciendis beatae tenetur quaerat minus eveniet iure similique sapiente ipsa qui minima! At!</p>
                </section>


                <section id="zona8"> <!--Zona 8 contine diverse tipuri de continut (articole, poze, blog)-->
                
                    <h2 id="noutati">Noutati</h2> <!--Parte de noutati-->
                
                    <section >
                        <div class="video_subtr">
                            <video id="promo" controls autoplay loop poster="/Resurse/imagini/Noua lansare de pastile.png">
                                <source src="/Resurse/video/Pills.mp4" type="video/mp4">
                                <source src="/Resurse/video/Pills.mov" type="video/mov">
                                <track label="Romanian" kind="subtitles" srclang="ro" src="/Resurse/video/sub_rom.VTT" default>
                                <track label="English" kind="subtitles" srclang="en" src="/Resurse/video/sub_eng.VTT">
                            </video></div>
                            <br>
                        <hr>
                        <summary><h2>Galeria statica</h2></summary>
                            <details>
                            <%- include("../fragmente/galerie-statica.ejs")%>
                            </details>
                        <hr>
                        <div class="row-noutati">
                            <div class="column-noutati">
                        <h3>Noi optiuni vegane</h3>
                            <section>
                                <h4>Batoane vegane cu fructe confiate</h4>
                                <figure>
                                    <img class="poza-noutati" src="Resurse/imagini/vegan_bar.jpg" alt="Batoane vegane" title="VeganBarre">
                                    <figcaption>Batoane vegane</figcaption>
                                </figure>
                                <p>
                                    <i><b>VeganBarre</b></i>, un nou brand cu produse vegane. Aceste batoane sunt perfecte pentru a fi luate cu tine oriunde ai merge.<br>
                                        Batoanele vegane cu fructe confiate sunt o opțiune perfectă pentru oricine dorește să aibă o <em>gustare sănătoasă</em> între mese 
                                        sau pentru a-și reîncărca bateriile înainte sau după antrenamente.
                                </p>
                                <details>
                                    <summary>Descriere produs</summary>
                                    <div class="coloane-text">
                                    <p>
                                        <strong>VeganBarre</strong> sunt preparate din ingrediente de calitate superioară, cum ar fi fructele confiate, nuci, semințe, ovăz, miere de 
                                        agave și unt de migdale, oferindu-ți o sursă naturală de energie.<br>
        
                                        Fructele confiate oferă un gust dulce și aromat, fără să adauge zahăr rafinat în batoane. Acestea sunt bogate în fibre și 
                                        vitamine esențiale, care îți oferă un aport important de nutrienți.<br> Nucile și semințele adaugă textură și crocantă, în timp
                                        ce untul de migdale oferă o cremozitate și o aromă delicioasă.<br>
                                        Acestea sunt potrivite pentru toți cei care urmează un stil de viață vegan, fără gluten sau care doresc să evite produsele 
                                        alimentare procesate și pline de zahăr.
                                    </p>
                                </div>
                                </details>
                            </section>
                        </div>
                        <div class="column-noutati">
                            
                            <br>
                                <h3>Mai multe pentru corpul tau</h3>
                                 <section>
                                    <h4>Un strop de catifea</h4>
                                    <figure>
                                        <img class="poza-noutati" src="Resurse/imagini/scrub.jpg" alt="Scrub" title="ScrubIt">
                                        <figcaption>Scrub</figcaption>
                                    </figure>
                                    <p>
                                         <i><b>ScrubIt</b></i>, acum si in varianta de 300 de ml. ScrubIt este un produs de îngrijire a pielii, un scrub de corp care ajută 
                                        la exfolierea și curățarea pielii. Acesta este fabricat cu ingrediente naturale și nu conține substanțe chimice dăunătoare.
                                    </p>
                                    <details>
                                        <summary>Descriere produs</summary>
                                        <div class="coloane-text">
                                        <p>
                                            <strong>ScrubIt</strong> conține particule fine de zahăr brun, care ajută la îndepărtarea celulelor moarte ale pielii și a impurităților, lasand 
                                            pielea mai catifelată și mai netedă. <br>De asemenea, acest scrub conține ulei de cocos, care hidratează și hrănește pielea, 
                                            lăsând-o moale și catifelată.<br>
        
                                            <b>ScrubIt</b> poate fi folosit pe toate tipurile de piele și este ideal pentru persoanele care doresc să își mențină pielea curată și
                                            catifelată. <br>Acesta poate fi utilizat de două-trei ori pe săptămână, în timpul dușului sau băii, prin aplicarea pe pielea umedă
                                            și masajul cu mișcări circulare. După utilizare, pielea va fi netedă și strălucitoare.
                                        </p>
                                    </div>
                                    </details>
                                </section>
                        </div>
                        </div>
                    </section>
                    <br>
                    <hr>
                    <h2 id="vanzari">Top vanzari</h2> <!--Parte de top selling pe site-->
                <section >
                    <div class="row">
                        <div class="column">
                            <img id="imagine" src="Resurse/imagini/Collagen.png" alt="Capsule cu collagen" 
                            title="Capsule cu collagen Sparkle" style="width: 100%;">
                        </div>
                        <div class="column">
                            <img src="Resurse/imagini/CAELLI.png" alt="Comprimate" 
                            title="Comprimate" style="width: 100%;">
                        </div>
                        <div class="column">
                            <img src="Resurse/imagini/SOPHARMA.png" alt="Fiole rusesti" 
                            title="Fiole rusesti Sopharma" style="width: 100%;">
                        </div>
                        <div class="column">
                            <img src="Resurse/imagini/herbalsh.png" alt="Sampon din plante" 
                            title="Sampon din plante" style="width: 100%;">
                        </div>
                        <div class="column">
                            <img src="Resurse/imagini/nixxiefdt.png" alt="Fond de ten" 
                            title="Fond de ten" style="width: 100%;">
                        </div>
                        <div class="column">
                            <img src="Resurse/imagini/rujs.png" alt="Lipstick" 
                            title="Lipstick" style="width: 100%;">
                        </div>
                    </div>
                    <video autoplay muted loop id="myVideo">
                        <source src="Resurse/video/brand.mp4" type="video/mp4" >
                      </video>
                </section>

               
                    <h2 id="reduceri">Reduceri si promotii</h2> <!--Parte de Reduceri si promotii-->
                    <section >
                        <div class="row">
                            <div class="column">
                                <img src="Resurse/imagini/bbcream.png" alt="BB Cream" 
                                title="BB Cream" style="width: 100%;">
                                <details>
                                    <s>Pret: 55lei</s><br>
                                    Pret nou: 20 lei
                                </details>
                            </div>
                            <div class="column">
                                <img src="Resurse/imagini/glicemie.png" alt="Aparat de masurat glicemia" 
                                title="Aparat pentru masurarea glicemiei" style="width: 100%;">
                                <details>
                                    <s>Pret: 150lei</s><br>
                                    Pret nou: 58 lei <br>  
                                    <a href="https://www.beurer.ro/manuale/manual-Beurer_glucometru-gl44.pdf"target="_blank" download>Link descarcare manual de utilizare</a>
                                </details>
                            </div>
                            <div class="column">
                                <img src="Resurse/imagini/pensule.png" alt="Set pensule profesionale" 
                                title="Set pensule profesionale" style="width: 100%;">
                                <details>
                                    <s>Pret: 200lei</s><br>
                                    Pret nou: 120 lei
                                </details>
                            </div>
                            <div class="column">
                                <img src="Resurse/imagini/capsule_vegane.png" alt="Capsule de origine vegana" 
                                title="Capsule de origine vegana" style="width: 100%;">
                                <details>
                                    <s>Pret: 42lei</s><br>
                                    Pret nou: 15 lei
                                </details>
                            </div>
                            <div class="column">
                                <img src="Resurse/imagini/vitC.png" alt="Vitamina C" 
                                title="Vitamina C" style="width: 100%;">
                                <details>
                                    <s>Pret: 25lei</s><br>
                                    Pret nou: 17 lei
                                    <p> Punem la dispozitie urmatoarea formula pentru a calcula doza normala pentru un adult</p>
                                    <math>
                                        <mrow>
                                        <mi>Doza corecta</mi>
                                        <mo>=</mo>
                                        <mrow>
                                            <mfrac>
                                            <mrow>
                                                <mi>Greutatea corporala</mi>
                                                <mo>(</mo>
                                                <mi>in kilograme</mi>
                                                <mo>)</mo>
                                            </mrow>
                                            <mrow>
                                                <mi>Doza recomandata</mi>
                                                <mo>(</mo>
                                                <mi>in miligrame pe kilogram</mi>
                                                <mo>)</mo>
                                            </mrow>
                                            </mfrac>
                                        </mrow>
                                        </mrow>
                                    </math>
                                </details>
                            </div>
                            <div class="column">
                                <img src="Resurse/imagini/stopfumatului.png" alt="Pastile antifumat" 
                                title="Pastile antifumat" style="width: 100%;">
                                <details>
                                    <s>Pret: 55lei</s><br>
                                    Pret nou: 10-30 lei<br> Pretul depinde de produsul datorit
                                </details>
                            </div>
                            
                        </div>
                    </section>

                    <br>
                    <hr>
                    <h2 id="articole">Articole</h2> <!--Parte de Articole tip blog-->
                    <div class="text-miscator">
                    <div class="text-scroll">
                        <p>Fii la curent cu cele mai noi articole!</p>
                    </div>
                    </div>
                    
                    <section >
                        <article>
                            <div id ="text">
                                GOOD TO KNOW
                                <div id = "text-reflectat">
                                    GOOD TO KNOW
                                </div>
                            </div>
                            <h2>De ce ar trebui să alegeți produse naturale pentru îngrijirea pielii</h2><br><br>
                            <details>
                                <p>Vezi care sunt avantajele produselor naturale pentru diferite tipuri de piele si beneficiilor lor
                                    in viata ta. Comparam cu produsele sintetice si cu substante chimice.<br> Salveaza mediul achizitionand 
                                    produse naturale. Acestea sunt ecologice și mai sustenabile <br> decât cele sintetice, deoarece ingrediente naturale 
                                    pot fi recoltate în mod sustenabil și nu necesită prelucrare chimică intensivă sau testarea pe animale.
                                    <a id="tsk4" href="https://www.sfatulmedicului.ro/Ingrijirea-pielii/ingrijirea-pielii-prin-metode-naturale_6143" target="_blank">Citeste mai multe aici</a> 
                                    </p><br><br>
                                    <q><i>O piele frumoasă necesită angajament, nu un miracol.</i> </q><p> — <b>Erno Laszlo</p></b><br><br>
                                    <q><i>Nu vă bazați pe etichete pentru a vă oferi informațiile de care aveți nevoie. Ai încredere doar în lista de 
                                    ingrediente și în instinctul tău.</i> </q><p>— <b>Liya Kebede</b></p><br><br>
                              </details><br>
                            <div class="container_iframe">
                                <div class="tabs_video_iframe">
                                    <iframe name="ifr-video" src="https://www.youtube.com/embed/0VwpOJp6CGY" width="560" height="315" frameborder="0" 
                                    allow="autoplay;  picture-in-picture" allowfullscreen ></iframe>
                                  </div>
                                <div class="links_iframe">
                                   <a href="https://www.youtube.com/embed/0VwpOJp6CGY" target="ifr-video">Videoclip 1</a>
                               
                                <a href="https://www.youtube.com/embed/3aUJYnodUgE" target="ifr-video" >Videoclip 2</a>
                                <a href="https://www.youtube.com/embed/kbHPLdNQM5E" target="ifr-video" >Videoclip 3</a>
                                </div>
                               
                          </div>
                        
                        
                        </article>
                        
                        
                        <article>
                            <article>
                                <h2>Cum să alegeți corect produsele pentru îngrijirea părului</h2><br><br><br>
                                
                                <details>
                                    <p>Importanța alegerii produselor potrivite pentru îngrijirea părului în funcție de tipul acestuia și 
                                        cum puteți îmbunătăți sănătatea și aspectul părului prin alegerile potrivite.<br>
                                        Ofera o ingrijire aparte scalpului tau si stimuleaza cresterea si revitalizarea parului. </p><br>
                                        <q><i>Părul meu nu ține bine la instrucțiuni.</i></q> <p> — <b>Leigh Bardugo</b></p><br><br>
                                        <q><i>Părul meu crescuse lung și zdruncinat - nu în felul ăla sexy-tânăr-star-rock, ci în felul ăsta de timp pentru al duce-Rover-la-groomer.</i> </q><p>— <b>Jim Butcher</b></p>
                                        <br><br>
                                  </details><br><br>
                                <div class="container_iframe">
                                <div class="tabs_video_iframe">
                                  <iframe  name="ifr-video1"  src="https://www.youtube.com/embed/JQET46N7kWg" width="560" height="315" frameborder="0" 
                                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                                <div class="links_iframe">
                                    <a  href="https://www.youtube.com/embed/JQET46N7kWg" target="ifr-video1">Videoclip 1</a>
                                 
                                     <a  href="https://www.youtube.com/embed/juMbMwFzBDI" target="ifr-video1" >Videoclip 2</a>
                                     <a  href="https://www.youtube.com/embed/wClbriM0TmE" target="ifr-video1" >Videoclip 3</a>
                                 </div>
                               </div>
                              
                              </article>
                        </article>
                
                    
                    </section>
            </section>

        </div>
        </main>

       <%- include("../fragmente/footer.ejs") %>
    </body>
</html>