<!DOCTYPE html>
<html lang="ro">
<head>
    <%- include("../fragmente/head.ejs") %>
    <title>Nixxie DrugStore</title>
    <meta name="keywords" content="drogherie, produse, cosmetice, pastile">
    <meta name="description" content="Drogheria Nixxie">
    <link rel="stylesheet" href="/Resurse/css/produse.css" type="text/css"/>
    <script type="text/javascript" src=/resurse/js/inregistrare.js></script>
</head>
<body>
    <%- include("../fragmente/header") %>

    <main>
    <div class="afisaj">
        <h1>Inregistrare utilizator</h1>
        <% if(!locals.raspuns) { %>    

			<%-include("../fragmente/formular", {action: "/inregistrare"}) %>
        <% } %>
        
	<% if(locals.raspuns) { %>
	<%- locals.raspuns+"<br/>"%>
	<% } %>
	<% if(locals.err) { %>
	<%- locals.err %>
	<% } %>
    </div>
</main>


    <%- include("../fragmente/footer") %>


</body>
</html>