<!DOCTYPE html>
<html lang="ro">
<head>
    <%- include("../fragmente/head.ejs") %>
    <title>Nixxie DrugStore</title>
    <meta name="keywords" content="drogherie, produse, cosmetice, pastile">
    <meta name="description" content="Drogheria Nixxie">
    <link rel="stylesheet" href="/Resurse/css/produse.css" type="text/css"/>
    <script type="text/javascript" src="/Resurse/js/produse.js"></script>
</head>
<body>
<%- include("../fragmente/header") %>

<main>
<h3>Filtrare produse</h3>
<div class="row"> 
    <div class="col-md-6">
        <div class="form-group">
            <label>Nume: <input type="text" id="inp-nume"  class="form-control" placeholder="Cauta dupa nume"></label>
        </div>
    </div>   

    <div class="col-md-6">
        <div>
            <label>Cuvinte cheie descriere:<br>
                <textarea class="form-control" id="inp-descriere" placeholder="keywords descriere" required></textarea>
            </label>
            <div class="invalid-feedback">We don't have products matching this description. Please enter a valid description.</div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-6">
        <label> Pret:</label>
            <span> <%locals.minPrice%></span>
            <input class="form-range" type="range" id="inp-pret" value="<%- minPrice%>" min="<%-minPrice%>" max="<%-maxPrice%>"> 
            <span><%-locals.maxPrice%></span>
            <span id="infoRange">(0)</span>
    </div>

    <div class="col-md-6">
        <label>Ingrediente:</label>
        <input list="id_lista" id="i_datalist" class="form-control">
            <datalist id="id_lista">
                <% for(let ingredient of ingrediente) {%>
                <option value="<%-ingredient.unnest%>"><%-ingredient.unnest%></option> 
                <%}%>
            </datalist>
        </div>
    
</div>
 
<div class="row">
    <div class="col-md-4">
        <label>Selecteaza o categorie:
            <select id="inp-categorie">
                <option id="sel-toate" selected value="toate">toate</option>
                <% for (let opt of optiuni) { %>
                    <option value="<%- opt.unnest %>"><%- opt.unnest %> </option>
                <% } %>
            </select>
        </label>
    </div>
    <div class="col-md-4">
        <label> Origini:
            <select id="inp-origine">
                <option id="origine-toate" selected value="toate">toate</option>
                <% for (let opt of origini) { %>
                    <option value="<%- opt.unnest %>"><%- opt.unnest %> </option>
                <% } %>
            </select>
        </label>
    </div>
    <div class="col-md-4">
        <label>Tipuri de produse:
            <select id="inp-tip">
                <option id="tip-toate" selected value="toate">toate</option>
                <% for (let opt of tipuri) { %>
                    <option value="<%- opt.unnest %>"><%- opt.unnest %> </option>
                <% } %>
            </select>
        </label>
    </div>
</div>

<div class="row">
        <div class="col-md-4">
            <label>Reducere:</label>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label for="reducere-da" class="btn btn-outline-primary">
                    <input type="checkbox" id="reducere-da" name="reducere" value="da"> Da
                </label>
                <label for="reducere-nu" class="btn btn-outline-primary">
                    <input type="checkbox" id="reducere-nu" name="reducere" value="nu"> Nu
                </label>
            </div>
        </div>
        <div class="col-md-4">
            <label>Gramaj:</label>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-outline-primary radio-label">Toate
                    <input id="i_rad4" checked name="gr_rad" value="toate" type="radio"> Toate
                </label>
                <label class="btn btn-outline-primary radio-label">Travel size (cantitate &lt; 100)
                    <input id="i_rad1" name="gr_rad" value="0:100" type="radio"> Travel size
                </label>
                <label class="btn btn-outline-primary radio-label">Pocket size (100 &le; cantitate &lt; 300)
                    <input id="i_rad2" name="gr_rad" value="100:300" type="radio"> Pocket size
                </label>
                <label class="btn btn-outline-primary radio-label">Normal (300 &le; cantitate)
                    <input id="i_rad3" name="gr_rad" value="300:1000000000" type="radio"> Normal
                </label>
            </div>
        </div>
   
    
    <div class="col-md-4">
        <label class="origini-noshow" value = "Selectati originile pe care vi le doriti"> Origini pe care vi le doriti:</label>
        <select id="i_sel_multiplu" multiple size = "4" class = "form-select">
            <% for (let orig of locals.origini) {%>
            <option value="<%-orig.unnest%>"><%-orig.unnest%></option>
            <%}%>
        </select>
    </div>
</div>
  <br>

  <p>
      <button id="filtrare" class="btn btn-primary btn-lg"><span class="d-inline d-sm-none"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel-fill" viewBox="0 0 16 16">
        <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2z"/>
      </svg> </span><span class="d-none d-sm-inline">Filtreaza</span></button> 
      <button id="resetare" class="btn btn-primary btn-lg"><span class="d-inline d-sm-none"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
        <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
      </svg> </span><span class="d-none d-sm-inline">Reseteaza</span></button><br/>
      <button id="sortCrescNume" class="btn btn-primary btn-lg">Sorteaza crescator dupa pret si nume</button>
      <button id="sortDescrescNume" class="btn btn-primary btn-lg">Sorteaza descrescator dupa pret si nume</button>
  </p>
    
    <p id="p-suma">Apăsați Alt+"c" pentru suma preturilor produselor afișate. </p>
    <section id="produse">
        <h2>Produse</h2>
        <p id="total-products-count">Număr total de produse: <span id="products-count">0</span></p>

        <div class="grid-produse">
            <% for( let prod of locals.produse) { %>
                <article class="produs" data-id="<%- prod.id %>">
                    
                    <h3 class="nume">Nume: <a href="/produs/<%-prod.id %>"><span class="val-nume"><%- prod.nume %></span></a></h3>
                    <div class="info-prod">
                        <p class="pret">Pret: <span class="val-pret"><%- prod.pret %></span></p>
                        <p class="categorie">Categorie: <span class="val-categorie"><%- prod.categorie_produse %></span></p>
                        <p class="gramaj">Gramaj: <span class="val-gramaj"><%- prod.cantitate %></span></p>
                        <p class="tip-produs">Tip produs: <span class="val-tip"><%- prod.tipuri_produs %></span></p>
                        <p class="origine">Origine: <span class="val-origine"><%- prod.tip_origine %></span></p>
                        <p class="ingrediente">Ingrediente: <span class="val-ingredient"><%- prod.ingrediente%></span></p>
                        <p class="reducere">Reducere: <span class="val-reducere"><%- prod.reducere ? 'Da' : 'Nu' %></span></p>
                        <p class="data-adaugare">Data adaugare: <span class="val-data"><%- prod.data_adaugare %></span></p>
                    </div>
                    <p class="descriere">Descriere: <span class="val-descriere"><%- prod.descriere %></span></p>
                    <figure>
                        <a href="/produs/<%-prod.id %>"><img src="/Resurse/imagini/produse/<%- prod.imagine %>" alt="[imagine <%- prod.nume %>]" /></a>
                    </figure>
                    <label class="selecteaza-cos">
                        Selectează:<br/>
                        <input type="checkbox" class="select-cos" value="<%-prod.id %>" autocomplete="off">
                    </label>
                </article>
            <% } %>
        </div>
        <p id="no-products" style="display: none;">Nu există produse conform filtrării curente.</p>
    </section>
    
</main>

<%- include("../fragmente/footer") %>
</body>
</html>
